$A:#1B2B34;
$B:#343D46;
$C:#4F5B66;
$D:#65737E;
$E:#A7ADBA;
$F:#C0C5CE;
$G:#CDD3DE;
$H:#D8DEE9;
$I:#EC5f67;
$J:#F99157;
$K:#FAC863;
$L:#99C794;
$M:#5FB3B3;
$N:#6699CC;
$O:#C594C5;
$P:#AB7967;
$Q:whitesmoke;
$color-note-title:$A;
$color-body:$B;
$color-note-date:$D;
$color-note-author:$E;
$color-border:$H;
$color-note-bg:$Q;
$color-note-selected:$Q;