.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex-align-bottom {
    align-self: flex-end;
}

.flex-align-center {
    align-self: center;
}
