@import 'color';
#search-box {
    border: 1px solid $color-border;
    border-radius: .2em;
    background-color: white;
    padding: .2em;
    font-size: 1.2em;
    input {
        border: none;
        font-size: 1em;
        outline: none;
        padding: .2em;
    }
}