@import 'color';

#search-box {
    position: sticky;
    top: 1em;
    padding: .2em;
    border: 1px solid $color-border;
    border-radius: .2em;
    margin-bottom: 2em;
    background-color: white;
    input {
        margin: 0 .2em;
        border: none;
        outline: none;
        font-size: 1.2em;
    }
}
